body, html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.calc-container {
    width: 400px;
    height: 400px;
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 8px;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: #111;
}

.calc-display {
    grid-area: 1/1/2/6;
    border: 2px solid grey;
    border-radius: 10px;
    text-align: right;
    display: flex;
    flex-direction: column;
    padding: 8px;
    color: #eee;
}

.calc-display div{
    overflow: hidden;
    font-size: 3rem;
    margin-top: auto;
}

.calc-container button {
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: bold;
}

.number-button, .dot-button {
    background-color: #777;
    color: #eee;
}

.operator-button, .equals-button {
    background-color: #faa30c;
    color: #eee;
}

.delete-button, .clear-button {
    background-color: #e0d8d5;

}

.zero-button {
    grid-area: 5/1/6/3;
}

.equals-button {
    grid-area: 5/4/6/6;
}

.active-operator-button {
    background-color: #eee;
    color: #faa30c;
}